name error

```go
func (event *VEvent) AddAttendee(s string, props ...PropertyParameter) {
	event.AddProperty(ComponentPropertyAttendee, "mailto:"+s, props...)
}
```
this **mailto** should be **MAILTO**？

What makes you think that?

@dinelee I think it's case insensitive in RFC 2445 it's all uppercase,however in RFC 5545 it's all lower case. https://tools.ietf.org/html/rfc5545 

Plus in 2445 it states it's defined as a URI:
```
   Description: The value is a URI as defined by [RFC 1738] or any other
   IANA registered form for a URI. When used to address an Internet
   email transport address for a calendar user, the value MUST be a
   MAILTO URI, as defined by [RFC 1738]. No additional content value
   encoding (i.e., BACKSLASH character encoding) is defined for this
   value type.
```

Which species that the scheme should be lowercase (although I think that's mostly ignored.)
```
       <scheme>:<scheme-specific-part>

   A URL contains the name of the scheme being used (<scheme>) followed
   by a colon and then a string (the <scheme-specific-part>) whose
   interpretation depends on the scheme.

   Scheme names consist of a sequence of characters. The lower case
   letters "a"--"z", digits, and the characters plus ("+"), period
   ("."), and hyphen ("-") are allowed. For resiliency, programs
   interpreting URLs should treat upper case letters as equivalent to
   lower case in scheme names (e.g., allow "HTTP" as well as "http").
```

Can I close this issue? -- Although if this is causing issues I would like to hear it.

Hi @dinelee I will close this on or after the 15th of February if I haven't heard from you.